.description-page {
    padding: 42px calc(50% - 300px);
}

.description-page__title {
    font-size: 34px;
    margin-bottom: 26px;
}

.description-list__name li:nth-child(2n+1) {
   background-color: white;
}
.description-list__name li:nth-child(2n){
    background-color:  #C4C4C480;
}
.description__part{
    background-color:  #C4C4C480;
    
}
.description-list{
    display: flex;
    justify-content: space-between;
}