.main-page__content {
 
    display: flex;
    justify-content: space-between;
}

.main-page__main-section {
    padding: 52px;
    box-sizing: border-box;
    width: 100%;
}

.main-page__homepage {
    margin-bottom: 35px;
}

