.coin-group__back__button{
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    color: #B1ABAB;
    display: flex;
    margin-bottom: 16px;
}


.advanced-filter{
  
    display: flex;
   
}

.advanced-filter__button__label{
    font-size: 14px;
    line-height: 16px;
    font-weight: 300;
    margin-right: 16px;
text-decoration: underline;
}
.advanced-filter__button{
    margin-top: 20px;
    margin-bottom: 24px;
    cursor: pointer;
    border: none;
    background-color: #FFFFFF;
}
.advanced-filter__select{
    box-sizing: border-box;
    display: block;
    font-size: 14px;
    padding: 16px;
    margin-top: 12px;
    margin-bottom: 32px;
    border: 1px solid rgba(0, 8, 7, .5);
}
.maxi__select{
    width: 374px;
    height: 48px;
}
.mini__input{
    width: 155px;
    height: 48px;
    margin-left: 10px;


}
.advanced-filter__secondTwo{
margin-left: 32px;
}
.advanced-filter__label{
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
  
}
.secondTwo__component{
    display: flex;
    
}
.advanced-filter__subLabel{
   
 display: flex;
   
  }
  .mini__label{
    font-size: 14px;
    line-height: 16px;
    font-weight: 300;
   
    margin-top: 30px;
  }
  .mini__label-to{
    margin-left: 20px;
  }
  .search-box__form-advance {
    width:120px;
    height:48px;
    background-color:  #833AE0;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    border: none;
    transition: all 0.2s linear;
    margin-left: 150px;
    margin-top: 28px;
}

.search-box__form-advance:hover:not(:disabled) {
    opacity: 0.8;
    cursor: pointer;
    transition: all 0.2s linear;
    
   
}

.search-box__form-advance:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}